{% extends 'admin_base.html' %}

{% block main %}



<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
  .container{
    margin-bottom: 100px;
  }
 
 

</style> 



</script>

        <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-2 mb-4" style="border-bottom: 2px solid orange;">Create an Account</h5>
            {% if msg %}
                <div class="alert alert-danger text-center">{{ msg }}</div>
            {% endif %}  

            <form method="post" name="signup" onsubmit="return checkpassword()">
                {% csrf_token %}
                
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="fname" class="form-control" required placeholder="Enter first name">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lname" class="form-control" required placeholder="Enter last name">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="mobile">Phone Number</label>
                            <input type="tel" id="mobile" name="mobile" class="form-control" required placeholder="Enter mobile number">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email ID</label>
                            <input type="email" id="email" name="email" class="form-control" required placeholder="Enter email">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="fromdate">From Date</label>
                            <input type="datetime-local" id="fromdate" name="fromdate" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="todate">To Date</label>
                            <input type="datetime-local" id="todate" name="todate" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" id="pwd" name="pwd" class="form-control" required placeholder="Enter password">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="cpwd">Confirm Password</label>
                            <input type="password" id="cpwd" name="cpwd" class="form-control" required placeholder="Enter password again">
                        </div>
                    </div>

                       
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="options">Select a Broker:</label>
                        <select id="options" name="Broker" class="form-control">
                            <option>Select Broker</option>
                            {% for b in brokers %}
                            <option value="{{b.broker_name}}">
                                {{b.broker_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Angel One Specific Fields -->
                <div class="col-md-6 broker-input" id="angel-input" style="display:none;">
                    <div class="form-group">
                        <label for="angel-api-key">API Key</label>
                        <input type="text" class="form-control" name="api_key" id="angel-api-key" placeholder="Enter API Key">
                    </div>
                </div>

                <!-- Alice Blue Specific Fields -->
                <div class="col-md-6 broker-input" id="alice-blue-input" style="display:none;">
                    <div class="form-group">
                        <label for="alice-demate_user_id">USER ID</label>
                        <input type="text" class="form-control" name="user_id" id="alice-demate_user_id" placeholder="Enter Demate User ID">
                    </div>

                    <div class="form-group">
                        <label for="alice-secret_key">Secret Key/APP KEY</label>
                        <input type="text" class="form-control" name="secret_key" id="alice-secret_key" placeholder="Enter Secret Key">
                    </div>
                    <div class="form-group">
                        <label for="alice-app_id">APP CODE</label>
                        <input type="text" class="form-control" name="app_id" id="alice-app_id" placeholder="Enter App ID">
                    </div>
                   
                </div>

                <!-- Upstox Specific Fields -->
                <div class="col-md-6 broker-input" id="upstox-input" style="display:none;">
                    <div class="form-group">
                        <label for="upstox-api-key">API Key</label>
                        <input type="text" class="form-control" name="api_key" id="upstox-api-key" placeholder="Enter API Key">
                    </div>
                    <div class="form-group">
                        <label for="upstox-secret_key">Secret Key</label>
                        <input type="text" class="form-control" name="secret_key" id="upstox-secret_key" placeholder="Enter Secret Key">
                    </div>
                </div> 

               <!-- 5paisa Specific Fields -->
                <div class="col-md-6 broker-input" id="5paisa-input" style="display:none;">
                    <div class="form-group">
                        <label for="5paisa-key">App Name</label>
                        <input type="text" class="form-control" name="api_key" id="5paisa-key" placeholder="Enter API Key">
                    </div>
                    <div class="form-group">
                        <label for="5paisa-userid">UserID</label>
                        <input type="text" class="form-control" name="user_id" id="5paisa-userid" placeholder="Enter UserID">
                    </div>

                    {% comment %} <div class="form-group">
                      <label for="5paisa-userid">App Source</label>
                      <input type="text" class="form-control" name="app_id" id="5paisa-userid" placeholder="Enter UserID">
                    </div> {% endcomment %}

                    {% comment %} <div class="form-group">
                      <label for="upstox-secret_key">User Key</label>
                      <input type="text" class="form-control" name="secret_key" id="upstox-secret_key" placeholder="Enter Secret Key">
                    </div> {% endcomment %}
                    <div class="form-group">
                        <label for="5paisa-encryption_key">ENCRYPTION_KEY</label>
                        <input type="text" class="form-control" name="secret_key" id="5paisa-encryption_key" placeholder="Enter Encryption Key">
                    </div>
                </div>
                
                <!-- Zerodha Specific Fields -->
                <div class="col-md-6 broker-input" id="zerodha-input" style="display:none;">
                    <div class="form-group">
                        <label for="zerodha-key">API Key</label>
                        <input type="text" class="form-control" name="api_key" id="zerodha-key" placeholder="Enter API Key">
                    </div>
                    <div class="form-group">
                        <label for="zerodha-api_secret_key">API Secret Key</label>
                        <input type="text" class="form-control" name="secret_key" id="zerodha-api_secret_key" placeholder="Enter API Secret Key">
                    </div>
                </div>

                   <!-- Zebull Specific Fields -->
                   <div class="col-md-6 broker-input" id="zebull-input" style="display:none;">
                    <div class="form-group">
                        <label for="zebull-user_id">User Id</label>
                        <input type="text" class="form-control" name="user_id" id="zebull-user_id" placeholder="Enter UserID">
                    </div>
                    <div class="form-group">
                        <label for="zebull-password">Password</label>
                        <input type="text" class="form-control" name="password" id="zebull-password" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <label for="zebull-app_key">APP Key</label>
                        <input type="text" class="form-control" name="api_key" id="zebull-app_key" placeholder="Enter App Key">
                    </div>
                    <!-- <div class="form-group">
                        <label for="zebull-dob">DOB</label>
                        <input type="text" class="form-control" name="zebull_dob" id="zebull-dob" placeholder="Enter DOB">
                    </div> -->
                </div>

                   <!-- Fyers Specific Fields -->
                   <div class="col-md-6 broker-input" id="fyers-input" style="display:none;">
                    <div class="form-group">
                        <label for="fyers-app_id">APP ID</label>
                        <input type="text" class="form-control" name="app_id" id="fyers-app_id" placeholder="Enter APP ID">
                    </div>
                    <div class="form-group">
                        <label for="fyers-secret_key">Secret Key</label>
                        <input type="text" class="form-control" name="secret_key" id="fyers-secret_key" placeholder="Enter Secret Key">
                    </div>
                </div> 


                    <!-- <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="options">Select a Broker</label>
                            <select id="options" name="Broker" class="form-control">
                                <option>Select Broker</option>
                                {% for b in brokers %}
                                    <option value="{{b.broker_name}}">
                                        {{b.broker_name}}
                                    </option>
                                {% endfor %}  
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3" id="api-key-input" style="display:none;">
                        <div class="form-group">
                            <label for="api-key">API Key</label>
                            <input type="text" class="form-control" name="api_key" id="api-key" placeholder="Enter API Key">
                        </div>
                        <div class="form-group">
                            <label for="secret-key">SECRET KEY /APP KEY</label>
                            <input type="text" class="form-control" name="secret_key" id="secret-key" placeholder="SECRET KEY /APP KEY">
                        </div>
                        <div class="form-group">
                            <label for="app-id">APP ID/ USER ID</label>
                            <input type="text" class="form-control" name="app_id" id="app-id" placeholder="Enter APP ID/ USER ID">
                        </div>
                        <div class="form-group">
                            <label for="demate-user-id">DEMATE USER ID</label>
                            <input type="text" class="form-control" name="demate_user_id" id="demate-user-id" placeholder="Enter DEMATE USER ID">
                        </div>
                    </div> -->

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="type">Select an Account Type</label>
                            <select class="form-control" name="Acount_type" id="type">
                                <option value="Demo">Demo</option>
                                <option value="Live">Live</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="group">Group</label>
                            <select class="form-control" name="group" id="group" required onchange="fetchSymbols(this.value)">
                                <option value="">Select an option</option>
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.GROUP }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="form-group" id="symbol-container">
                            <!-- Symbols will be dynamically populated here -->
                        </div>
                    </div>

                    <!-- <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="strategy-select">Select Strategy</label>
                            <select id="strategy-select" name="strategies" class="form-control">
                                <option value="">Select a Strategy</option>
                                {% for strategy in strategies %}
                                    <option value="{{ strategy.Strategy }}">{{ strategy.Strategy }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div> -->
                
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label for="selected-option">Selected Option</label>
                        <select id="selected-option" name="selected_option" class="form-control">
                            {% for value, name in options %}
                                <option value="{{ value }}" {% if selected_option == value %}selected{% endif %}>
                                    {{ name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                    
                        

                    {% comment %} <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="strategy-select">Select Strategies</label>
                            <div id="strategy-select">
                                {% for strategy in strategies %}
                                    <input type="checkbox" name="strategies" value="{{ strategy.id }}" id="strategy_{{ strategy.id }}">
                                    <label for="strategy_{{ strategy.id }}">{{ strategy.Strategy }}</label><br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                 <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="strategy-select">Sub admin</label>
                            <select id="sub_admin" name="sub_admin" class="form-control">
                                <option value="">Select a sub admin</option>
                                {% for subadmin in subadmin %}
                                    <option value="{{ subadmin.subadmin_id }}">{{ subadmin.subadmin_name_first }} {{ subadmin.subadmin_name_last }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


            

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
  


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      $('#options').change(function() {
          var selectedBroker = $(this).val();
          $('.broker-input').hide();  // Hide all broker-specific inputs
          
          if (selectedBroker === 'Angel One') {
              $('#angel-input').show();  // Show Angel One specific inputs
          } else if (selectedBroker === 'Alice Blue') {
              $('#alice-blue-input').show();  // Show Alice Blue specific inputs
          } else if (selectedBroker === 'Upstox') {
              $('#upstox-input').show();  // Show Upstox specific inputs
          } else if (selectedBroker === '5paisa') {
              $('#5paisa-input').show();  // Show 5paisa specific inputs
          } else if (selectedBroker === 'Zerodha') {
              $('#zerodha-input').show();  // Show Zerodha specific inputs
          } else if (selectedBroker === 'Zebull') {
              $('#zebull-input').show();  // Show Zebull specific inputs
          } else if (selectedBroker === 'Fyers') {
              $('#fyers-input').show();  // Show Fyers specific inputs
          }
      });
  
      // Handle form submission
      $('form').submit(function() {
          // Disable all input fields that are not visible
          $('.broker-input').each(function() {
              if ($(this).is(':hidden')) {
                  $(this).find('input').prop('disabled', true);
              }
          });
      });
  });
  </script>
  



<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function checkpassword() {
        if (document.signup.pwd.value != document.signup.cpwd.value) {
            alert('Password and Repeat Password field does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }

    // function showBrokerOptions(accountType) {
    //     const brokerDiv = document.getElementById('broker-options');
    //     const apiKeyDiv = document.getElementById('api-key-input');
    //     const brokerSelect = document.getElementById('broker-select');
    //     const apiKeyInput = document.getElementById('api-key');

    //     if (accountType === 'Live') {
    //         brokerDiv.style.display = 'block';
    //         brokerSelect.value = 'Angel';  // Default to Angel
    //         apiKeyDiv.style.display = 'block';  // Show API key input when Live is selected
    //     } else {
    //         brokerDiv.style.display = 'none';
    //         apiKeyDiv.style.display = 'none';
    //         brokerSelect.value = '';
    //         apiKeyInput.value = '';
    //     }
    // }

    $(document).ready(function() {
        $('#options').change(function() {
            if ($(this).val() !== 'Select Broker') {
                $('#api-key-input').show();
            } else {
                $('#api-key-input').hide();
            }
        });
    });

    function fetchSymbols(group_id) {
        if (group_id) {
            fetch(/get-symbols/${group_id}/)
                .then(response => response.json())
                .then(data => {
                    const symbolContainer = document.getElementById('symbol-container');
                    symbolContainer.innerHTML = ''; // Clear current symbols
                    data.symbols.forEach(symbol => {
                        const symbolDiv = document.createElement('div');
                        symbolDiv.className = 'grid-item';
                        symbolDiv.textContent = symbol.name;
                        symbolContainer.appendChild(symbolDiv);
                    });
                })
                .catch(error => console.error('Error fetching symbols:', error));
        }
    }
</script>

{% if error == "no" %}
    <script>
        alert('Registration Successful');
        window.location = ('{% url '/' %}');
    </script>
{% endif %}
{% if error == "yes" %}
    <script>
        alert('Something went wrong, Try Again.');
    </script>
{% endif %}



{% endblock %}